---
import Header from '@/components/home/Header';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Header />
		<main class="font-[Indie_Flower]">
      <p class="h-[50px]"></p>
			<span class="font-[Amatic_SC] text-[42px]">Welcome Wanderers!</span>
      <br>
      <p class="pt-[20px]">
        Welcome to my humble blog about spirituality and self-development. Daily peace of mind is something I came to explore after years of chaos. No matter how busy the world is around all of us, it's important to remember that the meaning is much deeper than what our eyes are used to see. 
			</p>
			<p>
        Let's decode the meaning together and celebrate the small things. The small bits of knowledge that form the bigger picture.
			</p>
      <p>
      Some of the subjects I am going to post on this channel cover:
      <ol class="font-[Amatic_SC] text-[22px]">
        <li>☯︎ &nbsp;Spiritual Teachings and Traditions</li>
        <li>☯ &nbsp;Philosophy and Ideas from All Ages</li>
        <li>☯ &nbsp;Meditation and Breathwork</li>
        <li>☯ &nbsp;UAP's and Extraterrestial Beings</li>
        <li>☯ &nbsp;Shamanism and Plant Medicines</li>
      </ol>
      <br>
      </p>
			<p>
        Feel free to suggest any topics and contact me at: <br> 
        <a href="mailto:erratinsilentio@proton.me" class="text-purple-900/20"><span class="text-purple-800">erratinsilentio@proton.me</span></a>
			</p>
      <p>
        I will be greatfull for sharing my articles with any like-minded people of your choice!
			</p>
		</main>
		<Footer />
	</body>
</html>
