---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/home/Footer";
import Header from "@/components/home/Header";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
const { pathname } = Astro.url;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-black">
        <Header currentPath={pathname} client:load/>
        <slot />
		<Footer />
	</body>
</html>